<aside>
    <ul>
        <li id="profile">
            <a href="{{path('profile')}}">
                <i class="fa-solid fa-user"></i> Meu Perfil
            </a>
        </li>
        <li id="food">
            <a href="{{path('food')}}">
                <i class="fa-solid fa-bowl-food"></i> Alimentos
            </a>
        </li>
        <li id="homeappliances">
            <a href="{{path('homeappliances')}}">
               <i class="fa-regular fa-hard-drive"></i> Eletro domésticos
            </a>
        </li>
        <li id="electronics">
            <a href="{{path('electronics')}}">
              <i class="fa-solid fa-desktop"></i> Eletro eletrônicos
            </a>
        </li>
        <li id="tools">
            <a href="{{path('tools')}}">
                <i class="fa-solid fa-screwdriver-wrench"></i> Ferramentas
            </a>
        </li>
        <li id="games">
            <a href="{{path('games')}}">
              <i class="fa-solid fa-gamepad"></i> Games
            </a>
        </li>
        <li id="computing">
            <a href="{{path('computing')}}">
              <i class="fa-solid fa-computer"></i> Informática
            </a>
        </li>
        <li id="otherproducts">
            <a href="{{path('otherproducts')}}">
              <i class="fa-solid fa-border-all"></i> Outros produtos
            </a>
        </li>
    </ul>
</aside>